table{
    border: rgb(0,0,0) solid 2px;
    border-collapse: collapse;
    margin: 0 auto;
}

td:nth-last-child(n+3) {
    border-right: rgba(0,0,0,0.1) dashed 1px;
    padding-right: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

td{
    border-top: rgb(0,0,0) solid 1px;
}

th{
    border-right: rgba(0,0,0,0.1) dashed 1px;
    padding: 0.5em;
}

body {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(245, 245, 245);
}

h1, h2, p, div{
    text-align: center;
}

.button:hover{
    box-shadow:0 0 0.1em rgb(0,0,255), 0 0 0.15em rgb(0,128,255), 0 0 0.2em rgb(0, 255, 255);
}

tr:nth-child(n+2):hover{
    box-shadow: 0 0 0.3em rgba(0,0,0,1);
}
