table{
    border: rgb(0,0,0) solid 2px;
    border-collapse: collapse;
}

td:nth-last-child(n+3) {
    padding-right: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

td{
    border-top: rgb(0,0,0) solid 1px;
}

th{
    padding: 0.5em;
}

body {
    background-image: url("rainbow2.png");
    font-size: 1em;
}
